/* Index */

body {
  background-image: linear-gradient(purple, yellow);
  background-position: center;
  background-size: auto;
  background-attachment: fixed;
  background-repeat: space;
}

.indexHead {
  max-width: 100%;
  height: auto;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 40px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.fillImage {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.travel {
  max-width: 100%;
  width: 800px;
  height: auto;
  margin: auto;
  border-top: 8px double #fbb852;
  border-bottom: 8px double #fb58c3;
  border-left: 8px double #68ecff;
  border-right: 8px double #68ecff;
  border-style: ridge;
}

.navWrap {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.indexNav {
  max-width: 100%;
  text-align: center;
  margin: 20px auto;
}

.github, .linkedin, .bio, .resume, .portfolio, .contact, .home {
  max-width: 100%;
  width: auto;
  height: 100px;
  border-radius: 100px;
  margin: auto;
  background-color: lightgrey;
}

.github {
  border: 7px outset #FF9090;
}

.home{
  border: 7px outset #DC94FF;
}

.linkedin {
  border: 7px outset #FF6FFC;
}

.bio {
  border: 7px outset #77E0FF;
}

.resume {
  border: 7px outset #97FF9A;
}

.portfolio {
  border: 7px outset #FDFF98;
}

.contact {
  border: 7px outset #FFC366;
}

.github:hover {
  border: 7px inset red;
}

.home:hover{
  border: 7px inset #AB00FF;
}

.linkedin:hover {
  border: 7px inset magenta;
}

.bio:hover {
  border: 7px inset #00CDFF;
}

.resume:hover {
  border: 7px inset #00FF09;
}

.portfolio:hover {
  border: 7px inset #F7FF00;
}

.contact:hover {
  border: 7px inset #FF9A00;
}

.gitCode {
  max-width: 100%;
  width: auto;
  height: 50px;
  border-radius: 100px;
  margin:auto;
  border: 3px solid #68ecff;
}

a {
  max-width: 100%;
  height: auto;
  text-decoration: none;
}

footer {
  max-width: 100%;
  height: auto;
  text-align: right;
}

/* About Me */
.aboutHead {
  max-width: 100%;
  height: auto;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 40px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.headShot {
  margin: 0 auto;
  border-top: 8px double #fbb852;
  border-bottom: 8px double #fb58c3;
  border-left: 8px double #68ecff;
  border-right: 8px double #68ecff;
  border-style: ridge;
  height: 300px;
  width: auto;

}

.fillHead {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 100%;
  height: auto;
}

.about {
  width: 100%;
  height: auto;
}

.aboutSumit {
  max-width: 100%;
  width: 800px;
  height: auto;
  margin: auto;
  font-size: 20px;
  font-family: 'Cinzel', serif;
  line-height: 30px;
  text-align: justify;
}

/* Portfolio */
.portfolioHead {
  max-width: 100%;
  height: auto;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 40px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.portfolioCover {
  max-width: 100%;
  margin: 0 auto;
  border-top: 8px double #fbb852;
  border-bottom: 8px double #fb58c3;
  border-left: 8px double #68ecff;
  border-right: 8px double #68ecff;
  border-style: ridge;
  height: 500px;
  width: auto;
}

.portfolioNav {
  max-width: 100%;
  height: auto;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 40px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.budapest, .spooky, .skills, .redagame {
  max-width: 100%;
  border: 3px solid orange;
  height: auto;
  width: 500px;
}

/* contact Page */
.contactHead {
  max-width: 100%;
  height: auto;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 40px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.contactMe {
  max-width: 100%;
  width: 800px;
  height: 300;
  margin: auto;
  border-top: 8px double #fbb852;
  border-bottom: 8px double #fb58c3;
  border-left: 8px double #68ecff;
  border-right: 8px double #68ecff;
  border-style: ridge;
  background-image: radial-gradient(white, lightgrey, black);
}

.contactName, .contactEmail {
  text-align: center;
  font-family: 'Cinzel', serif;
}
